#txt{
	align-items: center;
	font-size: 300%;
}
body{
	height: 100vh;
	background:linear-gradient(rgb(47,150,163), rgb(48,62,143));
	color:white;
	font-family: sans-serif;
}
.vertical-center{
	min-height: 100%;
	min-height: 100vh;
	display:flex;
	align-items:center;
	justify-content: center;
}
.horizontal-center{
	margin:auto;
}